*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: #000;
    color: #ffffff;
    background-color: #bb4141;
    background-color: #5d2e2e;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}
ul{
    list-style: none;

}
.container{
    margin: auto;
    width: 90%;
}

/*Navegacion*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 50px;
}
/*navegacion izquierda*/
.nav-main ul{
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff;

}
.nav-main ul li a{
padding: 7px;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}
/*showcase*/
hr{
margin: 10px 0;
}
.showcase{
    height: 550px;
    width: 100%;
    background:url(./imagenes/showcase2.jpg) no-repeat center center/cover ;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
    text-align: center;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0px;
    font-weight: bold;
    padding: 7px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}
.btn:hover{
    opacity: .7;
}
.showcase h2,
.showcase p{
    margin-bottom: 10px;
}
/*News cards*/
.new-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    gap: 25px;
}
.new-card img{
    width: 100%;
    height: 180px;   
}
.new-card h3{
    font-size: 20px;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.new-card a{
    padding: 10px 0;
    color: #f2f2f2;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
.new-card a:hover{
    text-decoration: underline;
}
/*cards banner one*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(./imagenes/tech-red.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width:auto;
    padding: 90px 0 0 30px;
    color: #ffffff;
    text-align: center;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
}
/*new card 2*/
.new-card2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    gap: 25px;
}
.new-card2 img{
    width: 100%;
    height: 180px;   
}
.new-card2 h3{
    font-size: 20px;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.new-card2 a{
    padding: 10px 0;
    color: #f2f2f2;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
.new-card2 a:hover{
    text-decoration: underline;
}
/*card banner two*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url(./imagenes/image-five.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 100%;
    padding: 90px 0 0 30px;
    color: #ffffff;
    text-align: center;
}
/*social*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}

/*footer links*/
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;

}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.8;
}


/*Footer*/

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width:700px){
.nav-main ul.nav-menu{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #2f3640;
    height: 100%;
    transform: translateX(-400px);
    opacity: 0.7;
    transition: transform .5s ease-in-out;
}
.nav-main ul.nav-menu.show{
    transform: translateX(-20px);
}
.nav-main ul.nav-menu li {
     padding: 20px;
     font-size: 10px;

}

    .new-card{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
      width: 80%;
    }
  .footer-links .container{
      grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:500px){
      .new-card{
          grid-template-columns: repeat 1fr;
      }
      .new-card img{
          height: 270px;
      }
          .cards-banner-one .content,
          .cards-banner-two .content{
              width: 100%;
              padding: 60px 20px;
              
          }


      }
      .footer-links .footer-container{
          grid-template-columns: repeat 1fr;
      }
  }
